$base-color: #EC4551;
$dark-color: #3c3b48;
$accent-color: #bd4e55;

$card-size: 200px;

// USED TO FIND ERROR CAUSING HORIZONTAL SCROLL BAR
// *{
//     background:#000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
// }
